@import "./VariablesPages.scss"; 

.background{
    background-color: $color-claro;
    height: 100%;
    margin-top: 1rem;
}

.details{
    display: flex;
    height: 100vh;
    &_image{
        width: 20rem;
        height: 30rem;
        margin-right: 2rem;
       
    }
}