@import "./VariablesPages.scss"; 

.background{
    background-color: $color-claro;
    height: 100vh;
    margin-top: 1rem;
}
/* .card_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} */
.modal_tittle{
    text-align: center;
    margin-top: 0;
    padding-bottom: .5rem;
    border-bottom: 1px solid $color-claro; 
}

@media (max-width: 426px){
    .modal_tittle{
        text-align: center;
    }
}
