@import "./VariablesPages.scss"; 

.background{
    background-color: $color-claro;
    height: 100vh;
    margin-top: 1rem;
 
    
}
.card_container{

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  
    

}