/* Color */
$color-blanco: #ffffff;
$color-claro: #F7F8FA;
$color-oscuro: rgb(94, 94, 94);
$color-rojo: #EE171F;
$Medium:768px;
$Desktop: 992px;
$Large:1200px;

.container{
    max-width: 70rem;
    margin: 0 auto;
    padding-top: 2rem;
}

@media(min-width:$Medium){
    .container{
        max-width: 43rem; 
    }
} 
@media(min-width:$Desktop){
    .container{
        max-width: 900px; 
    }
} 
@media(min-width:$Large){
    .container{
        max-width: 1200px; 
    }
} 
