 @import "./VariablesComponents.scss"; 
.Navbar{
    padding: .3rem;
    display: grid;
    grid-template-columns: 6rem .5rem 1fr 5rem;
    align-items: center;
    max-height: 2rem;
    background-color: $color-blanco;
    &_logo{
        max-width: 5rem;
        max-height: 2rem;
        
    }
    &_input{
     width: 100%;
     height:  1rem;
     border-radius: .7rem;
     border: none;
     padding: .5rem;
     background-color: yellow;
    
    }

    &_line{
        width: 2px;
        height: 2rem;
        background-color: $color-claro;
        border: none;
        }
}

